/* @group page-layout */
html , body {
	height: 100%;
}
html {
	color: #001337;
	background: #ddd;
	background: #ddd -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));
	background: #ddd -webkit-linear-gradient(top, #eee, #ddd);
	background: #ddd -moz-linear-gradient(top, #eee, #ddd);
	background: #ddd -ms-linear-gradient(top, #eee, #ddd);
	background: #ddd -o-linear-gradient(top, #eee, #ddd);
	background: #ddd linear-gradient(to bottom, #eee, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#eee', EndColorStr='#ddd');
}
body {
	position: relative;
	margin: 0 auto;
	padding: 0;
	max-width: 800px;
	min-height: 210px;
	font-family: FreeSans, Arial, sans-serif;
	text-align: center;
	color: #001337;
	background: transparent url('../img/globe.svg') no-repeat 50% 0;
	-webkit-background-size: 80%;
	-moz-background-size: 80%;
	background-size: 80% 80%;
}

/* @group links */
a:link , a:visited {
	color: #001337;
	background: transparent;
}
a:hover , a:focus {
	color: rgb(0, 0, 201);
	background: transparent;
}
a:active {
	color: rgb(201, 0, 0);
	background: transparent;
}

/* @group logo */
h1 {
	position: relative;
	top: 2.5%;
	margin: 0 auto;
	width: 100%;
	height: 40%;
	min-height: 150px;
	max-height: 355px;
	color: #001337;
	background: transparent url('../img/logo.png') no-repeat 50% 5%;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/* @group claim */
h2 {
	margin: 0 auto;
	position: absolute;
	top: 60%;
	left: 0;
	width: 100%;
	text-transform: uppercase;
	font-weight: normal;
	font-size: medium;
}
@media screen and (max-height: 275px) {
	h2 {
		display: none;
	}
}

/* @group imprint */
h3 {
	margin: 0 auto;
	font-size: small;
	font-weight: normal;
	text-decoration: underline;
	cursor: pointer;
}
footer {
	position: absolute;
	left: 0;
	bottom: 5%;
	width: 100%;
	font-size: small;
}
footer address {
	display: none;
	font-style: normal;
}

/* @group contact-list */
ul {
	position: absolute;
	left: 0;
	bottom: 10%;
	width: 100%;
	margin: 0;
	padding: 0;
}
li {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 65px;
	height: 45px;
	list-style: none;
	color: #001337;
	background: transparent url('../img/icons.png') no-repeat 0 0;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}
@media screen and (max-height: 320px) {
	ul {
		width: auto;
		top: 10%;
		left: auto;
		right: 10%;
	}
	li {
		display: block;
	}
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	li {
		background-image: url('../img/icons@2x.png');
		background-size: 65px 135px;
	}
}

/* @group contact-list-items */
.mail {
	background-position: 0 0;
}
.download {
	background-position: 0 -45px;
}
.phone {
	background-position: 0 -90px;
}
@media screen and (min-height: 321px) {
	.phone {
		margin: 0 20px;
	}
}
@media screen and (max-height: 320px) {
	.phone {
		margin: 10px 0;
	}
}

/* @group tooltip */
.tooltipsy {
	padding: 5px;
	max-height: 10%;
	color: #000d2a;
	background: #f7f7f7;
	font: small/normal FreeSans, Arial, sans-serif;
	white-space: nowrap;
	border: 2px solid #B4B4B4;
	border-radius: 5px;
	box-shadow: 0 -5px 8px rgba(102, 102, 102, .3);
}

